#================================================
# ZSH
#================================================

# zsh history
.zsh_history
.zsh_sessions/

# zsh cache files
.zcompdump*
.zcompcache/

# zim zsh framework
.zim/

#================================================
# tmux
#================================================

# tmux plugins
config/tmux/plugins/

#================================================
# Karabiner Elements
#================================================

# Karabiner Elements automatic backups
config/karabiner/automatic_backups
